version: '3.8'

services:
  api:
    build: .
    container_name: clients_api
    ports:
      - '3333:3333'
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  mongo:
    ports:
      - '27017:27017'
    container_name: clients_mongo
    restart: always
    logging:
      options:
        max-size: 1g
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    image: mongo

volumes:
  mongo_data: